
@media (min-width: 400px) {
    body {
    width: 300px;
    height: 900px;
    }

    header {
    background-color: #33a8dd;
    height: 250px;
    }

    .head {
    padding: 75px 50px;
    padding-bottom: 40px;
    font-size: 40px;
    color: white;
    }

    .head-2{
        display: none;
    }

.article-container {
    display: grid;
    grid-template-rows: (6,1fr);
    margin-top: 30px;
}

.blue {
    background-color: #33a8dd;
    width: 125px;
    height: 25px;
    margin: auto;
}

.orange {
    background-color: #f46831;
    width: 125px;
    height: 25px;
    margin: auto;
}

.green {
    background-color: #2bcec0;
    width: 125px;
    height: 25px;
    margin: auto;
}

.site {
    margin: auto;
    padding: -93px;
}

.title-1 {

    width: 125px;
    height: 215px;
    margin-bottom: 80px;
    margin-left: 85px;
    padding-top: 1px;
}

h2 {
   text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

}

@media (min-width: 1200px) {

    body {
        width: 1920px;
        margin: auto;
    }

    header {
        background-color: #2bcec0;
        height: 450px;
        }
    
    .head {
        display: none;
    }
     
    .head-2 {
       color: white;
       display: flex;
       font-size: 40px;
       color: white;
       text-align: center;
        padding-left: 850px;
        padding-top: 200px;
    }
     
    .article-container {
            display: flex;
            flex-wrap: wrap;
            background-color: #1b1b1b; 
            justify-content: space-evenly;
            height: 460px;
            margin: auto;
            gap: 3%;
    }

    h2 {
        text-align: center;
        color: white;
     }
     
     h3 {
         font-family: 'Montserrat', sans-serif;
         font-weight: 600;
         font-size: 12px;
         color: white;
     }
     
     .title-1{
         margin: 50px;
     }
}